@font-face {
  font-family: 'Arnhem';
  src: url("./assets/fonts/Arnhem-Bold.woff2") format("woff2"), url("./assets/fonts/Arnhem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html, body {
  background: #C0A475;
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 24px; }

a, a:visited, a:hover, a:focus {
  color: #ffffff; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold; }

h1 {
  font-size: 50px;
  line-height: 55px; }
  @media (max-width: 575px) {
    h1 {
      font-size: 28px;
      line-height: 34px; } }

h2 {
  font-size: 30px;
  line-height: 34px; }
  @media (max-width: 575px) {
    h2 {
      font-size: 20px;
      line-height: 24px; } }

h3 {
  font-size: 20px;
  line-height: 24px; }
  @media (max-width: 575px) {
    h3 {
      font-size: 20px;
      line-height: 24px; } }

p {
  margin: 0 0 15px 0; }

#identity svg, #identity img {
  width: 100%;
  height: auto; }
  #identity svg:last-of-type, #identity img:last-of-type {
    display: none; }
  @media (max-width: 575px) {
    #identity svg, #identity img {
      width: calc(100% + 30px);
      margin: 0 -15px; }
      #identity svg:first-of-type, #identity img:first-of-type {
        display: none; }
      #identity svg:last-of-type, #identity img:last-of-type {
        display: block; } }

header {
  width: 100%; }
  header .title {
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  header.main {
    margin: 60px 0; }
    @media (max-width: 575px) {
      header.main {
        margin: 0 0 45px 0;
        padding-bottom: 10px;
        border-bottom: 3px solid #ffffff; } }

.headers-mobile {
  display: none; }
  .headers-mobile header.mobile {
    padding: 15px 0 0 0;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    .headers-mobile header.mobile nav {
      padding-bottom: 15px; }
      .headers-mobile header.mobile nav .title.years.show {
        position: absolute !important;
        right: 0 !important;
        top: 100% !important; }
    .headers-mobile header.mobile.placeholder {
      display: none;
      opacity: 0; }
    .headers-mobile header.mobile .burger {
      width: 30px;
      height: 30px;
      background-image: url(./assets/images/burger.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      display: block; }
  @media (max-width: 575px) {
    .headers-mobile {
      display: -webkit-box;
      display: flex; }
      .headers-mobile nav {
        width: 100%;
        border-bottom: 2px solid white; } }
  .headers-mobile.passed header.fixed {
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px 15px 0 15px;
    z-index: 100;
    background: #C0A475; }
  .headers-mobile.passed header.placeholder {
    display: block; }

nav h2 {
  display: inline; }

nav ul, nav ol, nav li {
  list-style: none;
  padding: 0;
  margin: 0; }

nav a {
  border-bottom: 2px solid transparent; }
  nav a:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom-color: #ffffff; }

nav .title {
  display: table;
  position: relative; }
  nav .title .years {
    display: none;
    position: absolute;
    right: 0;
    top: 100%; }
    nav .title .years.show {
      display: block; }
    nav .title .years.static {
      position: static;
      right: auto;
      top: auto; }

main {
  min-width: 300px;
  padding: 0 30px 30px 30px; }
  @media (max-width: 575px) {
    main {
      padding: 0 15px 30px 15px; } }

.col-utility {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-left: 30px;
  padding-top: 25px;
  padding-bottom: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between; }
  @media (max-width: 575px) {
    .col-utility {
      display: none; } }

@media (max-width: 575px) {
  .col-spacer {
    display: none; } }

.event {
  margin: 0 0 60px 0; }
  .event a {
    text-decoration: none; }
  .event .event-thumb {
    display: table;
    padding: 5px 0; }
    .event .event-thumb img {
      width: 100%;
      height: auto;
      display: table; }
  .event .event-content {
    padding: 15px 0; }
  .event .event-info {
    color: #ffffff; }
    .event .event-info a {
      color: #ffffff;
      text-decoration: none; }
    .event .event-info .register::after {
      width: 1em;
      height: 1em;
      margin: 0 0 0 5px;
      display: inline-block;
      background-image: url(./assets/images/arrow.svg);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: contain;
      content: ''; }

.sponsors.row {
  max-width: 900px;
  padding: 25px 0 0 0; }
  @media (max-width: 575px) {
    .sponsors.row {
      padding: 45px 0 0 0; } }
  .sponsors.row .sponsor {
    padding: 0 0 120px 0; }
    .sponsors.row .sponsor .excerpt {
      display: table; }
    .sponsors.row .sponsor .sponsor-thumb {
      display: table;
      margin: 15px 0 0 0; }
      .sponsors.row .sponsor .sponsor-thumb img {
        width: 100%;
        height: auto;
        display: table; }
      @media (max-width: 768px) {
        .sponsors.row .sponsor .sponsor-thumb {
          margin: 0; }
          .sponsors.row .sponsor .sponsor-thumb img {
            width: 90%; } }
    .sponsors.row .sponsor:nth-child(odd) {
      padding-right: 45px; }
    .sponsors.row .sponsor:nth-child(even) {
      padding-left: 45px; }
    @media (max-width: 768px) {
      .sponsors.row .sponsor {
        padding: 0 0 90px 30px !important; } }
    @media (max-width: 575px) {
      .sponsors.row .sponsor {
        padding: 0 15px 90px 15px !important;
        font-size: 30px;
        line-height: 34px; } }
  @media (max-width: 575px) and (max-width: 575px) {
    .sponsors.row .sponsor {
      font-size: 20px;
      line-height: 24px; } }

#about {
  max-width: 900px;
  padding: 60px 0 0 0;
  color: #ffffff;
  font-family: "Arnhem", serif;
  font-size: 50px;
  line-height: 55px; }
  @media (max-width: 575px) {
    #about {
      font-size: 28px;
      line-height: 34px; } }
  @media (max-width: 575px) {
    #about {
      padding: 45px 0 15px 0; } }
  #about a {
    color: #ffffff; }
  #about p {
    margin: 0; }
    #about p:not(:first-of-type) {
      text-indent: 1.25em; }

footer.social .social-icon {
  display: inline-block;
  height: 20px;
  margin: 15px 15px 0 0; }
  footer.social .social-icon svg {
    width: auto;
    height: 20px; }

.mobile {
  display: none; }
  @media (max-width: 575px) {
    .mobile {
      display: block; } }
