@font-face {
  font-family: 'Arnhem';
  src: url("./assets/fonts/Arnhem-Bold.woff2") format("woff2"), url("./assets/fonts/Arnhem-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

html, body {
  background: #c0a475;
  margin: 0;
  color: white;
  font-weight: bold;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  line-height: 30px; }
  @media (max-width: 575px) {
    html, body {
      font-size: 20px;
      line-height: 24px; } }
  html.overlay-open, body.overlay-open {
    overflow: hidden; }
  @media (max-width: 575px) {
    html.header-open, body.header-open {
      overflow: hidden; } }

a, a:visited, a:hover, a:focus {
  color: white; }

h1, h2, h3, h4 {
  margin: 0;
  font-weight: bold; }

h1 {
  font-size: 45px;
  line-height: 50px; }
  @media (max-width: 575px) {
    h1 {
      font-size: 28px;
      line-height: 34px; } }

h2 {
  font-size: 30px;
  line-height: 34px; }
  @media (max-width: 575px) {
    h2 {
      font-size: 20px;
      line-height: 24px; } }

h3 {
  font-size: 24px;
  line-height: 30px; }
  @media (max-width: 575px) {
    h3 {
      font-size: 20px;
      line-height: 24px; } }

p {
  margin: 0 0 30px 0; }

.icon-btn {
  z-index: 400;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }
  .icon-btn:hover {
    cursor: pointer; }
  .icon-btn.x {
    background-image: url(./assets/images/x.svg); }
  .icon-btn.burger {
    background-image: url(./assets/images/burger.svg); }
  @media (max-width: 575px) {
    .icon-btn {
      width: 20px;
      height: 20px; } }

#identity {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out; }
  #identity.show {
    opacity: 1; }
  #identity .logo {
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    position: absolute;
    left: 30px;
    top: 30px;
    display: -webkit-box;
    display: flex;
    z-index: 150; }
    #identity .logo svg {
      width: auto;
      height: 90%;
      display: block;
      margin: auto; }
  #identity .background {
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
    position: relative;
    z-index: 100;
    background-size: cover;
    background-position: center; }
  #identity .instruct {
    width: 100%;
    padding: 30px;
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center;
    z-index: 100;
    background-image: url(./assets/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: center calc(100% - 10px);
    background-size: auto 15px; }

.nav-icon {
  width: 1em;
  height: 1em;
  background-position: center bottom;
  position: fixed;
  right: 30px;
  top: 30px;
  z-index: 350; }
  @media (max-width: 575px) {
    .nav-icon {
      right: 15px;
      top: 15px; } }
  .nav-icon.x {
    display: none; }
  .header-open .nav-icon.burger {
    display: none; }
  .header-open .nav-icon.x {
    display: block; }

nav {
  width: 100%;
  min-height: 50vh;
  max-height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 30px;
  background: #ff6f00;
  z-index: 300;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  nav h2 {
    display: inline; }
  nav ul, nav ol, nav li {
    list-style: none;
    padding: 0;
    margin: 0; }
  nav a {
    border-bottom: 2px solid transparent; }
    nav a:hover {
      cursor: pointer;
      text-decoration: none;
      border-bottom-color: white; }
  nav .title {
    display: table;
    position: relative; }
    nav .title .years {
      display: none;
      position: absolute;
      right: 0;
      top: 100%; }
      nav .title .years.show {
        display: block; }
      nav .title .years.static {
        position: static;
        right: auto;
        top: auto; }
  nav .x {
    position: absolute;
    right: 30px;
    top: 30px; }
    @media (max-width: 575px) {
      nav .x {
        right: 15px;
        top: 15px; } }
  nav .col.right {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end;
    text-align: right; }
  nav .nav-menu .menu-item {
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
    nav .nav-menu .menu-item.archive span {
      border-bottom: 2px solid transparent; }
      nav .nav-menu .menu-item.archive span:hover {
        cursor: pointer;
        text-decoration: none;
        border-bottom-color: white; }
    nav .nav-menu .menu-item.year {
      opacity: 0;
      pointer-events: none;
      display: inline;
      margin-left: 15px; }
      nav .nav-menu .menu-item.year.show {
        opacity: 1;
        pointer-events: all; }
      @media (max-width: 575px) {
        nav .nav-menu .menu-item.year {
          display: table;
          margin: 0; } }
  nav .footer a {
    text-align: right;
    float: right;
    clear: both; }
  nav .social {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: end;
            align-items: flex-end; }
    nav .social .icons {
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
              flex-direction: row;
      float: right;
      margin: 15px 0 0 0; }
      nav .social .icons a, nav .social .icons a:hover, nav .social .icons a:visited {
        margin-right: 15px;
        text-decoration: none;
        border: 0; }
      nav .social .icons svg {
        width: 24px;
        height: 24px; }
  nav.open {
    display: -webkit-box;
    display: flex; }
  @media (max-width: 575px) {
    nav {
      height: 100vh;
      padding: 15px; }
      nav .row {
        display: table; }
      nav .bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
                flex-direction: column-reverse; }
        nav .bottom .footer a {
          float: left;
          text-align: left; } }

header {
  width: 100%;
  padding: 0 30px 30px 30px;
  background: #c0a475;
  z-index: 200;
  display: none; }
  @media (max-width: 575px) {
    header {
      padding: 0 15px 15px 15px;
      position: absolute;
      left: 0;
      top: 0; } }
  header a {
    display: table; }
  header .page-title .toggles {
    display: table;
    text-transform: lowercase; }
    header .page-title .toggles .toggle {
      width: auto;
      display: table;
      margin-right: 15px; }
    @media (max-width: 575px) {
      header .page-title .toggles {
        display: none; } }
  header .page-title .label.mobile {
    padding-left: 29px;
    background-image: url(./assets/images/arrow-down.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 24px; }
    header .page-title .label.mobile:hover {
      cursor: pointer; }
  @media (max-width: 575px) {
    header.show-toggles .page-title .toggles {
      display: table; }
    header.show-toggles .page-title .label.mobile {
      background-image: url(./assets/images/arrow-up.svg); } }
  header .site-title {
    text-align: right; }
    header .site-title a {
      float: right;
      display: inline-block;
      text-decoration: none; }
    header .site-title .label {
      margin-right: 45px; }
    @media (max-width: 575px) {
      header .site-title {
        position: absolute;
        right: 0;
        width: 20px; }
        header .site-title .label {
          display: none; } }
  .header-fixed header {
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    max-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: block; }
    @media (max-width: 575px) {
      .header-fixed header {
        padding: 15px; } }

.toggles {
  width: 100%;
  display: block;
  clear: both;
  margin: 5px 0 0 0;
  font-size: 24px;
  line-height: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  @media (max-width: 575px) {
    .toggles {
      font-size: 20px;
      line-height: 24px; } }
  .toggles .toggle {
    width: calc(100% - 15px);
    float: left;
    padding-left: 19px;
    text-indent: -19px; }
    .toggles .toggle::before {
      width: 15px;
      height: 15px;
      content: '';
      display: inline-block;
      margin: 0 5px 0 0;
      border: 2px solid white; }
    .toggles .toggle.active:not(.secret)::before {
      background: #ff6f00; }
    .toggles .toggle:hover {
      cursor: pointer; }

#intro {
  width: 100%;
  padding: 30px 0;
  font-size: 45px;
  line-height: 50px;
  overflow: hidden; }
  @media (max-width: 575px) {
    #intro {
      font-size: 28px;
      line-height: 34px; } }
  #intro p:last-of-type {
    margin: 0; }
  @media (max-width: 575px) {
    #intro {
      padding: 0 15px 15px 15px;
      font-size: 24px;
      line-height: 30px; } }
  @media (max-width: 575px) and (max-width: 575px) {
    #intro {
      font-size: 20px;
      line-height: 24px; } }

main {
  width: 100%;
  min-width: 300px;
  padding: 30px 0 0 0;
  background: #c0a475;
  position: relative;
  overflow-x: hidden; }
  main .main-inner {
    padding: 120px 30px 120px 30px; }
    body.home main .main-inner {
      padding-top: 0; }
  @media (max-width: 575px) {
    main {
      padding: 15px 0 0 0; }
      main .main-inner {
        padding: 120px 15px 30px 15px; } }

.loop {
  min-height: 50vh;
  margin: 15px 0 0 0; }
  .loop .item.hide {
    display: none !important; }
  .loop[data-view="grid"] .list-view {
    display: none; }
  .loop[data-view="grid"] .block {
    margin-top: 30px; }
    .loop[data-view="grid"] .block .item-link {
      min-height: 12em;
      padding: 15px;
      display: -webkit-box;
      display: flex;
      color: white;
      text-decoration: none;
      position: relative;
      background: #94aa0c; }
      .loop[data-view="grid"] .block .item-link .row {
        -webkit-box-flex: 1;
                flex: 1; }
      .loop[data-view="grid"] .block .item-link .dash {
        margin: 0 .1em; }
      .loop[data-view="grid"] .block .item-link .secondary {
        display: none; }
        @media (max-width: 575px) {
          .loop[data-view="grid"] .block .item-link .secondary {
            display: block !important; } }
      .loop[data-view="grid"] .block .item-link:hover {
        padding: 13px;
        border: 2px solid white;
        color: white;
        background: transparent; }
        .loop[data-view="grid"] .block .item-link:hover .primary {
          opacity: 0; }
          @media (max-width: 575px) {
            .loop[data-view="grid"] .block .item-link:hover .primary {
              display: block !important; } }
        .loop[data-view="grid"] .block .item-link:hover .secondary {
          width: 100%;
          height: calc(100% - 60px);
          display: block;
          position: absolute;
          left: 0;
          top: 15px;
          background: #c0a475; }
      @media (max-width: 575px) {
        .loop[data-view="grid"] .block .item-link {
          min-height: auto;
          padding: 0 !important;
          border: none !important;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
                  flex-direction: column; }
          .loop[data-view="grid"] .block .item-link .text {
            padding: 15px 30px; } }
    .loop[data-view="grid"] .block a, .loop[data-view="grid"] .block a:hover, .loop[data-view="grid"] .block a:visited {
      color: white; }
  .loop[data-view="grid"] .block-thumb {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
    .loop[data-view="grid"] .block-thumb img {
      width: 100%;
      height: auto; }
  .loop[data-view="grid"] .block.exhibition-block .item-link {
    background: #009fe3; }
  .loop[data-view="grid"] .botd .item-link {
    background: white;
    color: #c0a475; }
  .loop[data-view="grid"] .botd a, .loop[data-view="grid"] .botd a:hover, .loop[data-view="grid"] .botd a:visited {
    color: #c0a475; }
  .loop[data-view="grid"] .date-header {
    padding: 0; }
    .loop[data-view="grid"] .date-header .fix {
      width: 100%;
      background: #c0a475;
      z-index: 150;
      padding: 90px 0 15px 0; }
    .loop[data-view="grid"] .date-header.fixed {
      padding-bottom: 15px; }
      .loop[data-view="grid"] .date-header.fixed .fix {
        position: fixed;
        left: 0;
        padding: 90px 30px 15px 30px; }
        @media (max-width: 575px) {
          .loop[data-view="grid"] .date-header.fixed .fix {
            padding-top: 30px; } }
    @media (max-width: 575px) {
      .loop[data-view="grid"] .date-header {
        text-align: center !important; } }
  .loop[data-view="grid"] .institution.row {
    margin-bottom: 120px; }
  .loop[data-view="grid"].hide-past .day.past {
    display: none; }
  .loop[data-view="list"] {
    margin-top: 0; }
    .loop[data-view="list"] .list-view {
      margin-left: -30px;
      margin-right: -30px; }
    .loop[data-view="list"] .grid-view {
      display: none; }
    .loop[data-view="list"] .list-header {
      padding: 0 15px; }
      @media (max-width: 575px) {
        .loop[data-view="list"] .list-header {
          display: none; } }
      .loop[data-view="list"] .list-header .fix {
        width: auto;
        padding: 0 15px;
        margin: 0 -15px;
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        border-bottom: 2px solid white;
        background: #c0a475; }
      .loop[data-view="list"] .list-header.fixed .fix {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 150;
        padding: 0 15px;
        margin: 0; }
      .loop[data-view="list"] .list-header .col-header {
        padding-top: 15px;
        padding-bottom: 30px;
        margin: 2px 0 0 0;
        position: relative; }
        .loop[data-view="list"] .list-header .col-header .popup {
          width: 100%;
          padding: 10px 0 0 0;
          position: absolute;
          left: 0;
          top: 0;
          z-index: 100;
          background-color: #c0a475; }
          .loop[data-view="list"] .list-header .col-header .popup:hover, .loop[data-view="list"] .list-header .col-header .popup.open {
            cursor: pointer;
            border: 2px solid;
            margin-left: -2px;
            margin-top: -2px;
            z-index: 150; }
            .loop[data-view="list"] .list-header .col-header .popup:hover .popup-header span::after, .loop[data-view="list"] .list-header .col-header .popup.open .popup-header span::after {
              background-image: url(./assets/images/arrow-up.svg); }
            .loop[data-view="list"] .list-header .col-header .popup:hover .popup-content, .loop[data-view="list"] .list-header .col-header .popup.open .popup-content {
              display: block; }
        .loop[data-view="list"] .list-header .col-header .popup-header, .loop[data-view="list"] .list-header .col-header .sort-header {
          padding: 0 10px; }
          .loop[data-view="list"] .list-header .col-header .popup-header span::after, .loop[data-view="list"] .list-header .col-header .sort-header span::after {
            width: 30px;
            height: 15px;
            background-image: url(./assets/images/arrow-down.svg);
            background-repeat: no-repeat;
            background-position: center calc(100% - 2px);
            background-size: 20px;
            display: inline-block;
            content: ''; }
        .loop[data-view="list"] .list-header .col-header .sort-header {
          position: absolute;
          left: 0;
          top: 10px; }
          .loop[data-view="list"] .list-header .col-header .sort-header span::after {
            display: none; }
        .loop[data-view="list"] .list-header .col-header .popup-content {
          display: none;
          padding: 15px 10px 30px 15px;
          max-height: 50vh;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch; }
        .loop[data-view="list"] .list-header .col-header .toggles {
          display: table; }
          .loop[data-view="list"] .list-header .col-header .toggles .toggle {
            display: block; }
        .loop[data-view="list"] .list-header .col-header.date .popup {
          width: 200%; }
        .loop[data-view="list"] .list-header .col-header.date .calendar {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          flex-wrap: wrap; }
          .loop[data-view="list"] .list-header .col-header.date .calendar .day {
            width: calc(100%/7);
            margin: 0 0 5px 0;
            text-align: center;
            padding: 0;
            text-indent: 0; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .day .square {
              width: 1.5em;
              height: 1.5em;
              border: 2px solid transparent;
              display: -webkit-box;
              display: flex;
              align-content: center; }
              .loop[data-view="list"] .list-header .col-header.date .calendar .day .square span {
                display: table;
                margin: auto; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .day.dow {
              padding: 0; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .day::before {
              display: none; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .day.filter:hover .square {
              border-color: white; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .day.filter.active:not(.secret) .square {
              border-color: white;
              background: #ff6f00; }
          .loop[data-view="list"] .list-header .col-header.date .calendar .clear-space {
            display: -webkit-box;
            display: flex;
            -webkit-box-flex: 1;
                    flex: 1;
            -webkit-box-pack: end;
                    justify-content: flex-end; }
            .loop[data-view="list"] .list-header .col-header.date .calendar .clear-space .clear {
              float: right;
              display: table;
              margin: auto 15px; }
    .loop[data-view="list"] .item-row {
      width: 100%;
      margin: 0;
      padding: 0;
      border-bottom: 2px solid white; }
      .loop[data-view="list"] .item-row.botd .item-link:hover {
        background: white;
        color: #c0a475; }
      @media (max-width: 575px) {
        .loop[data-view="list"] .item-row .row .col {
          margin: 0 0 5px 0;
          padding: 0; } }
    .loop[data-view="list"] .partner-row {
      width: 100%;
      padding: 30px 30px 60px 30px;
      display: table; }
      @media (max-width: 575px) {
        .loop[data-view="list"] .partner-row {
          padding: 0 0 15px 0;
          margin: 0 0 15px 0;
          display: block; } }
    .loop[data-view="list"] .item-link {
      width: 100%;
      padding: 30px;
      display: table; }
      .loop[data-view="list"] .item-link:hover {
        text-decoration: none;
        background: #94aa0c; }
    @media (max-width: 575px) {
      .loop[data-view="list"] {
        margin-left: 0;
        margin-right: 0; }
        .loop[data-view="list"] .row {
          margin-left: 0;
          margin-right: 0; } }
  .loop.sponsors-loop {
    margin-top: 0; }
    .loop.sponsors-loop .sponsor-type {
      margin-bottom: 120px; }
    .loop.sponsors-loop .sponsor-type-name {
      margin: 0 0 30px 0; }
    .loop.sponsors-loop .sponsor-thumb {
      margin-bottom: 30px; }
      .loop.sponsors-loop .sponsor-thumb img {
        width: 100%;
        max-width: 360px;
        height: auto; }

.event-type span:not(:last-of-type)::after {
  content: ', '; }

.partner span:not(:last-of-type)::after {
  content: '/'; }

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: white; }
  .overlay.event-overlay {
    background: #94aa0c; }
  .overlay.exhibition-overlay {
    background: #009fe3; }
  .overlay .overlay-inner {
    padding: 30px; }
    @media (max-width: 575px) {
      .overlay .overlay-inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
                flex-direction: column-reverse;
        padding: 15px; } }
  .overlay .fixed {
    position: fixed;
    right: 15px;
    top: 90px; }
    @media (max-width: 575px) {
      .overlay .fixed {
        position: static;
        right: auto;
        top: auto; } }
  .overlay .piece {
    margin: 0 0 30px 0; }
    .overlay .piece span:not(:last-of-type)::after {
      content: ', '; }
    .overlay .piece a {
      text-decoration: underline; }
  .overlay .x {
    position: fixed;
    right: 30px;
    top: 30px; }
    @media (max-width: 575px) {
      .overlay .x {
        right: 15px;
        top: 15px; } }
  .overlay.placeholder {
    opacity: 0;
    pointer-events: none;
    z-index: -500;
    -webkit-transition: opacity 200ms ease-in-out;
    -o-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out; }
    .overlay.placeholder.show {
      opacity: 1;
      pointer-events: all;
      z-index: 500; }

.gallery {
  width: 100%; }
  .gallery figure {
    background: rgba(255, 255, 255, 0.3);
    margin: 0 0 5px 0;
    display: none; }
    .gallery figure img {
      width: 100%;
      height: auto;
      display: none; }
    .gallery figure.active {
      display: block; }
    .gallery figure.loaded img {
      display: block; }
    .gallery figure:not(.loaded) {
      min-height: 15em; }
  .gallery .dots {
    height: 1em;
    font-size: 12px;
    line-height: 15px;
    line-height: 1em;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    -webkit-box-align: center;
            align-items: center; }
    .gallery .dots .dot {
      width: 1em;
      height: 1em;
      margin-right: 5px;
      display: inline-block;
      border-radius: 50%; }
      .gallery .dots .dot span {
        vertical-align: middle; }
      .gallery .dots .dot:hover {
        cursor: pointer; }
      .gallery .dots .dot.active {
        background: white; }
        .gallery .dots .dot.active span {
          display: none; }
  .gallery .captions figcaption {
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    display: none; }
    .gallery .captions figcaption.active {
      display: block; }
  @media (max-width: 575px) {
    .gallery {
      margin: 90px 0; } }

.event-overlay.botd {
  background: white;
  color: #c0a475; }
  .event-overlay.botd a, .event-overlay.botd a:hover, .event-overlay.botd a:visited {
    color: #c0a475; }
  .event-overlay.botd .x {
    background-image: url(./assets/images/x-tan.svg); }
  .event-overlay.botd .gallery figure {
    background: rgba(192, 164, 117, 0.3); }
  .event-overlay.botd .dot.active {
    background: #c0a475; }

.faq {
  margin: 30px 0 0 0; }
  .faq .answer {
    margin: 0 0 0 30px; }

#alert {
  width: 100%;
  padding: 30px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #ff6f00;
  display: none; }
  @media (max-width: 575px) {
    #alert {
      padding: 15px;
      text-align: left;
      font-size: 12px;
      line-height: 15px; } }
  #alert .x {
    position: absolute;
    right: 30px;
    top: 30px; }
    @media (max-width: 575px) {
      #alert .x {
        width: 15px;
        height: 15px;
        right: 10px;
        top: 15px; } }
  #alert.show {
    display: block; }

.mobile {
  display: none; }
  @media (max-width: 575px) {
    .mobile {
      display: block; } }

@media (max-width: 575px) {
  .desktop {
    display: none; } }
