@import 'vars.scss';
html, body {
	background: $tan;
	margin: 0;
	color: $white;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $sm-font-size;
  line-height: $sm-line-height;
}
a,a:visited,a:hover,a:focus {
	color: $white;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: bold;
}
h1 {
	@include lg-text;
}
h2 {
	@include md-text;
}
h3 {
	@include sm-text;
}
p {
	margin: 0 0 15px 0;
}
#identity {
	svg,img {
		width: 100%;
		height: auto;
		&:last-of-type {
			display: none;	
		}
		@include sm {
			width: calc(100% + 30px);
			margin: 0 -15px;
			&:first-of-type {
				display: none;
			}
			&:last-of-type {
				display: block;
			}
		}
	}
}
header {
	width: 100%;
	.title {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&.main {
		margin: 60px 0;
		@include sm {
			margin: 0 0 45px 0;
			padding-bottom: 10px;
			border-bottom: 3px solid $white;
		}
	}
}
.headers-mobile {
	display: none;
	header {
		&.mobile {
			padding: 15px 0 0 0;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    nav {
	    	// opacity: 0;
	    	padding-bottom: 15px;
	    	.title.years.show {
	    		position: absolute !important;
				  right: 0 !important;
				  top: 100% !important;
	    	}
	    	// .archive {
	    	// 	display: none;
	    	// }
	    	// &.show {
	    		// opacity: 1;
	    		// margin-bottom: 15px;
	    		// .archive {
	    			// display: block;
	    		// }
	    	// }
	    }
	    &.placeholder {
	    	display: none;
	    	opacity: 0;
	    }
			.burger {
				width: 30px;
				height: 30px;
				background-image: url(images/burger.svg);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				display: block;
			}
		}
	}
	@include sm {
		display: flex;
		nav {
			width: 100%;
	    border-bottom: 2px solid white;
	  }
	}
	&.passed {
		header.fixed {
			position: fixed;
	  	left: 0;
	  	top: 0;
	  	padding: 15px 15px 0 15px;
	  	z-index: 100;
	  	background: $tan;
	  }
	  header.placeholder {
	  	display: block;
	  }
  }
}
nav {
	h2 {
		display: inline;
	}
	ul,ol,li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a {
		border-bottom: 2px solid transparent;
		&:hover {
			cursor: pointer;
			text-decoration: none;
			border-bottom-color: $white;
		}
	}
	.title {
		display: table;
		position: relative;
		.years {
			display: none;
			position: absolute;		
			right: 0;
			top: 100%;
			&.show {
				display: block;
			}
			&.static {
				position: static;				
				right: auto;
				top: auto;
			}
		}
	}
}
main {
	min-width: 300px;
	padding: 0 30px 30px 30px;
	@include sm {
		padding: 0 15px 30px 15px;
	}
}
.col-utility {
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	padding-left: 30px;
	padding-top: 25px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include sm {
		display: none;
	}
}
.col-spacer {
	@include sm {
		display: none;
	}
}
.event {
	margin: 0 0 60px 0;
	a {
		text-decoration: none;
	}
	.event-thumb {
		display: table;
		padding: 5px 0;
		img {
			width: 100%;
			height: auto;
			display: table;
		}
	}
	.event-content {
		padding: 15px 0;
	}
	.event-info {
		color: $white;
		a {
			color: $white;
			text-decoration: none;
		}
		.register::after {
			width: 1em;
			height: 1em;
			margin: 0 0 0 5px;
			display: inline-block;
			background-image: url(images/arrow.svg);
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: contain;
	    content: '';
		}
	}
}
.sponsors.row {
	max-width: 900px;
	padding: 25px 0 0 0;
	@include sm {
		padding: 45px 0 0 0;
	}
	.sponsor {
		padding: 0 0 120px 0;
		.excerpt {
			display: table;
		}
		.sponsor-thumb {
			display: table;
			margin: 15px 0 0 0;
			img {
				width: 100%;
				height: auto;
				display: table;
			}
			@include md {
				margin: 0;
				img {
					width: 90%;
				}
			}
		}
		&:nth-child(odd) {
			padding-right: 45px;
		}
		&:nth-child(even) {
			padding-left: 45px;	
		}
		@include md {
			padding: 0 0 90px 30px !important;
		}
		@include sm {
			padding: 0 15px 90px 15px !important;
			@include md-text;
		}
	}
}
#about {
	max-width: 900px;
	padding: 60px 0 0 0;
	color: $white;
	font-family: $serif;
	@include lg-text;
  @include sm {
		padding: 45px 0 15px 0;
	}
	a {
		color: $white;
	}
	p {
		margin: 0;
		&:not(:first-of-type) {
			text-indent: 1.25em;
		}
	}
}
footer.social {
	.social-icon {
		display: inline-block;
		height: 20px;
		margin: 15px 15px 0 0;
		svg {
			width: auto;
			height: 20px;
		}
	}
}

.mobile {
	display: none;
	@include sm {
		display: block;
	}
}