@import 'vars.scss';
html, body {
	background: $tan;
	margin: 0;
	color: $white;
	font-weight: bold;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include sm-text;
  // font-size: $sm-font-size;
  // line-height: $sm-line-height;
}
a,a:visited,a:hover,a:focus {
	color: $white;
}
h1, h2, h3, h4 {
	margin: 0;
	font-weight: bold;
}
h1 {
	@include lg-text;
}
h2 {
	@include md-text;
}
h3 {
	@include sm-text;
}
p {
	margin: 0 0 30px 0;
}
.icon-btn {
	z-index: 400;
	width: $sm-font-size;
	height: $sm-font-size;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	&:hover {
		cursor: pointer;
	}
	&.x {
		background-image: url(images/x.svg);
	}
	&.burger {
		background-image: url(images/burger.svg);
	}
	@include sm {
		width: $sm-font-size-sm;
		height: $sm-font-size-sm;
	}
}
#identity {
	width: 100%;
	min-width: 100vw;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	cursor: pointer;
	margin-bottom: 30px;
	svg {
		width: 100%;
		height: 100%;
		max-width: 100vw;
		max-height: 100vh;
		position: relative;
		z-index: 100;
	}
	.fill {
		width: 50%;
		height: 100%;
		position: absolute;
		top: 0;
		&.red {
			background: $red;
			left: 0;
		}
		&.orange {
			background: $orange;	
			right: 0;
		}
	}
	.instruct {
		width: 100%;
		padding: 30px;
		position: absolute;
		left: 0;
		bottom: 0px;
		text-align: center;
		z-index: 100;
		background-image: url(images/arrow-down.svg);
		background-repeat: no-repeat;
		background-position: center calc(100% - 10px);
		background-size: auto 15px;
	}
}
header {
	width: 100%;
	padding: 0 30px 30px 30px;
	background: $tan;
	z-index: 200;
	display: none;
	@include sm {
		padding: 0 15px 15px 15px;
		position: absolute;
		left: 0;
		top: 0;
	}
	a {
		display: table;
	}
	.page-title {
		.toggles {
			display: table;
			text-transform: lowercase;
			@include sm {
				display: none;
				.toggle {
					width: 100%;
				}
			}
		}
		.label.mobile {
			padding-left: #{$sm-font-size + 5px};
			background-image: url(images/arrow-down.svg);
			background-repeat: no-repeat;
			background-position: left center;
			background-size: $sm-font-size;
			&:hover {
				cursor: pointer;
			}
		}
	}
	&.show-toggles .page-title {
		@include sm {
			.toggles {
				display: table;
			}
			.label.mobile {
				background-image: url(images/arrow-up.svg);
			}
		}
	}
	.site-title {
		text-align: right;
		a {
			float: right;
			display: inline-block;
		}
		@include sm {
			position: absolute;
			right: 0;
			width: $sm-font-size-sm;
			.label {
				display: none;
			}
		}
	}
	.burger {
		float: right;
		background-position: center calc(100% - 2px);
		display: inline-block;
		margin-left: 15px;
		@include sm {

		}
	}
	nav {
		max-height: 100vh;
		position: relative;
		padding: 30px;
		overflow-y: auto;
		background: $orange;
		z-index: 200;
		.x {
			position: absolute;
			right: 30px;
			top: 30px;
			@include sm {
				right: 15px;
				top: 15px;
			}
		}
		.col.right {
			display: flex;
	    align-items: flex-end;
	    text-align: right;
		}
		.nav-menu {
			.menu-item {
				transition: opacity 200ms ease-in-out;
				&.archive {
					cursor: pointer;
				}
				&.year {
					opacity: 0;
					pointer-events: none;
					display: inline;
					margin-left: 15px;
					&.show {
						opacity: 1;
						pointer-events: all;
					}
				}
			}
		}
		.footer {
			text-align: right;
		}
		.social {
			width: 100%;
			height: 100%;
	    display: flex;
	    align-items: flex-end;
			.icons {
				display: flex;
				flex-direction: row;
				float: right;
				margin: 15px 0 0 0;
				a, a:hover, a:visited {
					margin-right: 15px;
					text-decoration: none;
					border: 0;
				}
				svg {
					width: $sm-font-size;
					height: $sm-font-size;
				}
			}
		}
	}
	.header-fixed & {
		position: fixed;
		left: 0;
		top: 0;
		padding: 30px;
		max-height: 100%;
		overflow-y: auto;
		display: block;
		@include sm {
			padding: 15px;
		}
	}
	&.open {
		padding: 0;
		.header-row {
			display: none;
		}
		nav {
			display: block;
			@include sm {
				height: 100vh;
				padding: 15px;
				display: flex;
				flex-direction: column;
		    justify-content: space-between;
		    .bottom {
		    	flex-direction: column-reverse;
		    	.footer {
		    		text-align: left;
		    	}
		    }
			}
		}
	}
}
.header-placeholder {
	width: 100%;
	display: none;
	color: transparent;
	opacity: 0;
	.header-fixed & {
		// display: block;
	}
}
.toggles {
	width: 100%;
	display: block;
	clear: both;
	margin: 5px 0 0 0;
	@include sm-text;
	.toggle {
		float: left;
		margin: 0 15px 0 0;
		&::before {
			width: 15px;
			height: 15px;
			content: '';
			display: inline-block;
			margin: 0 5px 0 0;
			border: 2px solid $white;
		}
		&.active {
			&::before {
				background: $orange;
			}
		}
		&:hover {
			cursor: pointer;
		}
	}
}
nav {
	display: none;
	h2 {
		display: inline;
	}
	ul,ol,li {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	a {
		border-bottom: 2px solid transparent;
		&:hover {
			cursor: pointer;
			text-decoration: none;
			border-bottom-color: $white;
		}
	}
	.title {
		display: table;
		position: relative;
		.years {
			display: none;
			position: absolute;		
			right: 0;
			top: 100%;
			&.show {
				display: block;
			}
			&.static {
				position: static;				
				right: auto;
				top: auto;
			}
		}
	}
}
#intro {
	width: 100%;
	padding: 0 30px 30px 30px;
	@include lg-text;
	p:last-of-type {
		margin: 0;
	}
	@include sm {
		padding: 0 15px 15px 15px;
	}
	.header-fixed & {
		// display: none;
		opacity: 0;
	}
}
main {
	min-width: 300px;
	background: $tan;
	position: relative;
	.main-inner {
		padding: 120px 30px 120px 30px;
		@include sm {
			padding: 0 15px 30px 15px;
		}
	}
}
.loop {
	min-height: 50vh;
	margin: 15px 0 0 0;
	.block {
		margin-top: 30px;
		.item-link {
			height: 12em;
			padding: 15px;
			display: block;
			color: $white;
			text-decoration: none;
			@include sm {
				height: auto;
				padding: 0;
				.text {
					padding: 15px;
				}
			}
			&:hover {
				padding: 13px;
				border: 2px solid $white;
				color: $white;
				background: transparent;
			}
		}
		.event-title {
			margin: 5px 0 0 0;
		}
		a, a:hover, a:visited {
			color: $white;
		}
	}
	.exhibition-block {
		.item-link {
			background: $blue;
		}
	}
	.event-block {
		.item-link {
			background: $green;
		}
		.secondary {
			display: none;
			@include sm {
				display: block;
			}
		}
		&:hover {
			.primary {
				display: none;
				@include sm {
					display: block;
				}
			}
			.secondary {
				display: block;
			}
		}
	}
	.botd {
		.item-link {
			background: $white;
			color: $tan;
			.text {
				@include sm {
					padding: 15px 30px;
				}
			}
			.row {
				height: 100%;
			}
		}
		.block-thumb {
			width: 100%;
			height: 100%;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			img {
				width: 100%;
				height: auto;
			}
		}
		a, a:hover, a:visited {
			color: $tan;
		}
		@include sm {
			.text {
				padding: 15px 30px;
			}
		}
	}
	&[data-view="grid"] {
		.date-header {
			.fix {
				width: 100%;
				background: $tan;
				z-index: 150;
			}
			.placeholder {
				display: none;
				opacity: 0;
			}
			&.fixed {
				.fix {
					position: fixed;
					left: 0;
					padding: 0 30px 15px 30px;
				}
				.placeholder {
					display: block;
				}
			}
			@include sm {
				text-align: center;
			}
		}
		.day-loop {
			opacity: 0;
			transition: opacity 200ms ease-in-out;
			&.show {
				opacity: 1;
			}
		}
		.event-row, .list-header {
			display: none;
		}
		.day.row, .institution.row {
			margin-bottom: 120px;
		}
		&.hide-past .day.past {
			display: none;
		}
	}
	&[data-view="list"] {
		margin-top: 0;
		margin-left: -15px;
		margin-right: -15px;
		.date-header, .event-block {
			display: none;
		}
		.list-header {
			padding: 0 15px;
			margin: 0 -15px;
			display: flex;
			flex-direction: row;
			border-bottom: 2px solid $white;
			.col-header {
				padding-top: 15px;
				padding-bottom: 30px;
				position: relative;
				.popup {
					width: 100%;
					padding: 15px 15px 30px 15px;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 100;
					background-color: $tan;
					&:hover, &.open {
						cursor: pointer;
						border: 2px solid;
						margin-left: -2px;
						margin-top: -2px;
						z-index: 150;
						.popup-header span::after {
							background-image: url(images/arrow-up.svg);
						}
						.popup-content {
							display: block;
						}
					}
					.popup-header {
						span::after {
							width: 30px;
							height: 15px;
							background-image: url(images/arrow-down.svg);
							background-repeat: no-repeat;
							background-position: center calc(100% - 2px);
							background-size: 20px;
							display: inline-block;
							content: '';
						}
					}
				}
				.popup-content {
					display: none;
					padding-top: 15px;
				}
				.toggles {
					display: table;
					.toggle {
						display: block;
						width: 100%;
					}
				}
				&.date {
					.popup {
						width: 200%;
					}
					.calendar {
						display: flex;
				    flex-direction: row;
				    flex-wrap: wrap;
						.day {
							width: calc(100%/7);
							margin: 0;
							text-align: center;
							.square {
								width: 1.5em;
								height: 1.5em;
								border: 2px solid transparent;
								display: flex;
								align-content: center;
								span {
									display: table;
									margin: auto;
								}
							}
							&.dow {
								padding: 0;
							}
							&::before {
								display: none;
							}
							&.filter:hover .square {
								border-color: $white;
							}
							&.filter.active:not(.secret) .square {
								border-color: $white;
								background: $orange;
							}
						}
						.clear-space {
							display: flex;
							flex: 1;
							justify-content: flex-end;
							.clear {
								float: right;
								display: table;
								margin: auto 15px;
							}
						}
					}
				}
			}
		}
		.item-row {
			width: 100%;
			margin: 0;
			padding: 0;
			border-bottom: 2px solid $white;
			&.hide {
				display: none;
			}
		}
		.partner-row {
			width: 100%;
			padding: 30px 30px 60px 30px;
			display: table;
		}
		.item-link {
			width: 100%;
			padding: 30px 30px 60px 30px;
			display: table;
			&:hover {
				text-decoration: none;
				background: $green;
			}
			.event_type-botd & {
				background: $white;
				color: $tan;
			}
		}
		&.hide-past .event.past {
			// display: none;
			background: pink;
		}
	}
	&.sponsors-loop {
		margin-top: 0;
		.sponsor-type {
			margin-bottom: 120px;
		}
		.sponsor-type-name {
			margin: 0 0 30px 0;
		}
		.sponsor-thumb {
			margin-bottom: 30px;
			img {
				width: 100%;
				max-width: 360px;
				height: auto;
			}
		}
		// .main-sponsors .sponsor-thumb img {
		// 	width: 50%;
		// }
	}
}

.event-type {
	span:not(:last-of-type)::after {
		content: ', ';
	}
}

.overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 300;
	overflow-x: hidden;
	overflow-y: auto;
	background: $green;
	color: $white;
	.overlay-inner {
		padding: 30px;
		@include sm {
			padding: 15px;
		}
	}
	.piece {
		margin: 0 0 30px 0;
		span:not(:last-of-type)::after {
			content: ', ';
		}
	}
	.x {
		position: absolute;
		right: 30px;
		top: 30px;
		@include sm {
			right: 15px;
			top: 15px;
		}
	}
	&.placeholder {
		opacity: 0;
		pointer-events: none;
		z-index: -500;
		transition: opacity 200ms ease-in-out;
		&.show {
			opacity: 1;
			pointer-events: all;
			z-index: 500;
		}
	}
}

.gallery {
	width: 100%;
	figure {
		background: rgba($white,0.3);
		margin: 0 0 5px 0;
		display: none;
		img {
			width: 100%;
			height: auto;
			display: none;
		}
		&.active {
			display: block;
		}
		&.loaded img {
			display: block;
		}
		&:not(.loaded) {
			min-height: 15em;
		}
	}
	.dots {
		height: 1em;
		@include xs-text;
		line-height: 1em;
		display: flex;
		flex-direction: row;
    align-items: center;
		.dot {
			width: 1em;
			height: 1em;
			margin-right: 5px;
			display: inline-block;
			border-radius: 50%;
			span {
				vertical-align: middle;
			}
			&:hover {
				cursor: pointer;
			}
			&.active {
				background: $white;
				span {
					display: none;
				}
			}
		}
	}
	.captions {
		figcaption {
			@include xs-text;
			text-align: right;
			display: none;
			&.active {
				display: block;
			}
		}
	}
}

.event-overlay.botd {
	background: $white;
	color: $tan;
	a, a:hover, a:visited {
		color: $tan;
	}
	.x {
		background-image: url(images/x-tan.svg);
	}
	.gallery figure {
		background: rgba($tan,0.3);
	}
	.dot.active {
		background: $tan;
	}
}

.faq {
	margin: 30px 0 0 0;
	.answer {
		margin: 0 0 0 30px;
	}
}

#alert {
	width: 100%;
	padding: 30px;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: $orange;
	.x {
		position: absolute;
    right: 30px;
    top: 30px;
	}
}

.mobile {
	display: none;
	@include sm {
		display: block;
	}
}
.desktop {
	@include sm {
		display: none;
	}	
}