$orange: #f36b22;
$white: #ffffff;
$green: #9bc23b;
$blue: #00aeef;
$pink: #ee174e;
$tan: #cdb182;
$red: #fa0025;

$sm-font-size: 18px;
$sm-line-height: 24px;
$md-font-size: 25px;
$md-line-height: 30px;
$lg-font-size: 30px;
$lg-line-height: 35px;

@mixin sm {
	@media (max-width: 575px) {
		@content;
	}
}