$tan: rgb(192,164,117);
$orange: rgb(255,111,0);
$red: rgb(251,0,37);
$white: rgb(255,255,255);
$green: rgb(148,170,12);
$blue: rgb(0,159,227);

$xs-font-size: 12px;
$xs-line-height: 15px;

$sm-font-size: 24px;
$sm-line-height: 27px;

$md-font-size: 30px;
$md-line-height: 34px;

$lg-font-size: 40px;
$lg-line-height: 46px;


$sm-font-size-sm: 20px;
$sm-line-height-sm: 24px;

$md-font-size-sm: 20px;
$md-line-height-sm: 24px;

$lg-font-size-sm: 28px;
$lg-line-height-sm: 34px;

@mixin xs-text {
	font-size: $xs-font-size;
	line-height: $xs-line-height;
}

@mixin sm-text {
	font-size: $sm-font-size;
	line-height: $sm-line-height;
	@include sm {
		font-size: $sm-font-size-sm;
		line-height: $sm-line-height-sm;
	}
}

@mixin md-text {
	font-size: $md-font-size;
	line-height: $md-line-height;
	@include sm {
		font-size: $md-font-size-sm;
		line-height: $md-line-height-sm;
	}
}

@mixin lg-text {
	font-size: $lg-font-size;
	line-height: $lg-line-height;
	@include sm {
		font-size: $lg-font-size-sm;
		line-height: $lg-line-height-sm;
	}
}

@font-face {
  font-family: 'Arnhem';
  src: url('fonts/Arnhem-Bold.woff2') format('woff2'),
      url('fonts/Arnhem-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
$serif: 'Arnhem', serif;
$sanSerif: 'Helvetica Neue', Helvetica, sans-serif;

@mixin sm {
	@media (max-width: 575px) {
		@content;
	}
}

@mixin md {
	@media (max-width: 768px) {
		@content;
	}
}